<div class="#collapse" id="collapsePanel">
    <div class="card card-body mt-2">

        <ul class="list-group list-group-flush">
            {% for response in probe.responses %}
            <li class="list-group-item">User {{ response.user_id }}, Session {{
                response.session_id|truncate(8)}}
                <span class="
                fw-bold">{{ response.value }}</span>
                <div>
                    {% for action in response.actions %}
                    <div class="table-responsive">
                        <table class="table table-primary">
                            <thead>
                                <tr>
                                    <th scope="col">Casualty</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Parameters</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="">
                                    <td scope="row">{{action.casualty}}</td>
                                    <td>{{ action.action_type}}</td>
                                    <td>{% for parameter in action.parameters %}
                                        <div>{{parameter.parameter_value}}</div>
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3"><a
                                            href="{{ url_for('probe.delete_action', action_id=action.id) }}">[delete]</a>
                                    </td>
                                </tr>
                            </tbody>

                        </table>

                    </div>

                    {% endfor %}
                </div>
                <a href="{{ url_for('probe.add_action', response_id=response.id) }}">[add action]</a>
            </li>
            <li class="list-group-item text-info">
                {% if kdmas|count > 0 %}
                {{ response.kdmas}}
                {% else %}
                none
                {% endif %}

            </li>

            {% endfor %}
        </ul>
    </div>
</div>