<form method="post">
    {{ scenario_form.csrf_token() }}
    <p>{{ render_field(scenario_form.description, rows="5") }}</p>
    <div class="card">
        <div class="card-body">
            <h6 class="card-title">Mission</h6>
            <p>{{ render_field(scenario_form.mission_type) }}</p>
            <div class="bg-danger p-2">
                <p>{{ render_field(scenario_form.eval_mission_type) }}</p>
            </div>
            <div class="bg-warning p-2">
                <p class="card-text">{{ render_field(scenario_form.mission_description) }}</p>
            </div>
        </div>
    </div>
    <div class="card bg-warning mt-2">
        <div class="card-body">
            <h6 class="card-title">Threats</h6>
            <p class="card-text">{{ render_field(scenario_form.threat_state_description)}}</p>
        </div>
    </div>
    <div class="card bg-warning mt-2">
        <div class="card-body">
            <h6 class="card-title">Additional Information</h6>
            <p class="card-text">
            <div>{{ render_field(scenario_form.elapsed_time)}}</div>
            </p>
        </div>
    </div>

    <div class="mt-2">{{ render_field(scenario_form.submit)}}</div>

</form>