{% extends 'base.html' %}


{% block title %}
{% endblock title %}

{% block content %}
<div class="containter p-3">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">{{ title }}</h4>
            <p class="card-text">
                <a href="{{ url_for('main.add_casebase') }}">[add]</a>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Case Bases</h5>
                    <div class="card-text">
                        <div class="table-responsive-sm">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">Name</th>
                                        <th scope="col">ID</th>
                                        <th scope="col">Description</th>
                                        <th scope="col">Timestamp</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for casebase in casebase_list %}
                                    <tr>
                                        <td scope="row">
                                            {{ casebase.name }}
                                            <a
                                                href="{{ url_for('main.view_casebase', casebase_id=casebase.id) }}">[view]</a>
                                            <a
                                                href="{{ url_for('main.edit_casebase', casebase_id=casebase.id) }}">[edit]</a>
                                            <a class="text-danger"
                                                href="{{ url_for('main.delete_casebase', casebase_id=casebase.id) }}">[delete]</a>
                                        </td>
                                        <td>{{ casebase.id}} </td>
                                        <td>{{ casebase.description }}</td>
                                        <td>{{ casebase.timestamp }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>
</div>
{% endblock content %}