{% extends 'base.html' %}

{% block title %}
{% endblock title %}
{% block content %}
<div class="containter p-3">
    <div class="card">
        <div class=" card-body">
            <h5 class="card-title">{{ casebase.name }}</h5>
            <h6 class="card-subtitle">{{ casebase.created_by }} {{ casebase.timestamp }}</h6>
            <p class="card-text">
            <p>
                {{ casebase.description }}
            </p>
            <p>
                <a href="{{ url_for('case.add_case', casebase_id=casebase.id) }}">[add case]</a>
            </p>
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title">Cases</h6>
                    <p class="card-text">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Case ID</th>
                                    <th scope="col">Casualties</th>
                                    <th scope="col">Probes</th>
                                    <th scope="col">Created By</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for case in cases %}
                                <tr class="">
                                    <td scope="row">{{ case.id }}</td>
                                    <td>
                                        <a href="{{ url_for('case.view_case', case_id=case.id) }}">{{ case.name }}</a>
                                    </td>
                                    <td>{{ case.external_id }}</td>
                                    {% if case.scenarios.all()|count > 0 %}
                                    <td>{{ case.scenarios[0].casualties.all()|length}}</td>
                                    <td>{{ case.scenarios[0].probes|count }}</td>
                                    {% endif %}
                                    <td>{{ case.created_by }}</td>
                                    <td><a href="{{ url_for('case.edit_case', case_id=case.id) }}">[edit]</a></td>
                                    <td><a class="text-danger"
                                            href="{{ url_for('case.delete_case', case_id=case.id) }}">[delete]</a></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content%}