{% extends 'base.html' %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block title %}
Case Bases
{% endblock title %}

{% block content %}
<div class="contanier">
    <div class="row p-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h3>{{ case_base.name }}</h3>
                    {{ case_base.description }}
                </div>
                <div class="card-body">
                    <a href="{{ url_for('create_case', case_base_id=case_base.id) }}">{{
                        render_icon('plus-circle-fill',24)}}</a>
                    {% include 'cases.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}